__pycache__/
.vscode/
venv/
app/
test_*.py
hack
/gen_keys.py
/un&show_npk.py
/.squashfs-root.sfs
/keys/
/json2base64.py
/test.py
/gen_key_pairs.py
/gen_key_pairs_new.py
/curve25519.py
/gen_license.py
